body{
  text-align: center;
  /* display: flex; */
  justify-content: center;
}

.grid{
  display: grid;
  grid-template-rows: repeat(10,40px);
  grid-template-columns: repeat(6,40px);
  gap: 5px;
  text-align: center;
}

.square{
  width: 40px;
  height: 40px;
  background-color: black;
}